<phpunit bootstrap="bootstrap.php" colors="false"
	convertErrorsToExceptions="true" convertNoticesToExceptions="true"
	convertWarningsToExceptions="true" stopOnFailure="false">

    <testsuite name="InsideInvestor">
        <directory>./</directory>
    </testsuite>
    
	<logging>
		<log type="coverage-html" target="build/coverage" title="Name of Project"
			charset="UTF-8" yui="true" highlight="true" lowUpperBound="35"
			highLowerBound="70" />
		<!-- <log type="coverage-clover" target="build/logs/clover.xml"/> <log 
			type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/> -->
	</logging>
	   <!-- adding error val for error and warning only -->
    <php>
        <ini name="error_reporting" value="65535" />
    </php>


	<filter>
		<whitelist>
			<directory suffix=".php">../models</directory>
			<directory suffix=".php">../controllers</directory>
			<file>../components/UserIdentity.php</file>
            <file>../components/Controller.php</file>
            <file>../components/SendMail.php</file>
		</whitelist>
	</filter>

</phpunit>